* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 100% $font;
}

header {
	height: 13vh;
	width: 100vw;
	background-color: black;
	color: antiquewhite;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	menu {
		width: 100vw;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		ul {
			width: 70vw;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-top: 3vh;
			li {
				list-style: none;
				cursor: pointer;
				font-size: 2vh;
			}
		}
	}
}
h1 {
	font-size: 3vh;
	color: goldenrod;
}
main {
	height: 85vh;
	background-color: antiquewhite;
}
footer {
	height: 2vh;
	width: 100vw;
	color: antiquewhite;
	background-color: black;
	p {
		font-size: 1vh;
		position: absolute;
		bottom: 0;
		right: 1vw;
	}
}
